channel-list {
    div.search-container {
        & {
            display: flex;
            gap: 5px;
        }

        input[type=text] {
            flex-grow: 2;
        }

        select {
            width: 155px;
        }
    }

    div.message-container {
        & {
            margin-top: 30px;
            text-align: center;
        }

        h2 {
            margin-bottom: 5px;
        }
    }

    ul.channel-list {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style: none;
            padding: 0;
        }

        &[select] {
            li.channel {
                &:hover {
                    box-shadow: 0 3px 8px -1px rgba(0,0,0,0.3);
                    cursor: pointer;
                }

                &[selected]:before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -2;
                    margin: -2px;
                    border-radius: inherit;
                    background: linear-gradient(to right, #669ab6 0%, #64a5b1 50%, #669ab6 100%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    background: var(--container-background);
                    border-radius: inherit;
                }

                & > * {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        &:not([select]) {
            li.channel {
                &:hover {
                    border-color: transparent;
                    box-shadow: 0 3px 8px -1px rgba(0,0,0,0.3);
                    cursor: pointer;
                }

                &:hover:before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -2;
                    margin: -2px;
                    border-radius: inherit;
                    background: linear-gradient(to right, #669ab6 0%, #64a5b1 50%, #669ab6 100%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    background: var(--container-background);
                    border-radius: inherit;
                }

                & > * {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        li.channel {
            & {
                display: flex;
                flex-direction: row;
                background: transparent;
                height: 85px;
                width: 100%;
                border-radius: 10px;
                border: solid 2px var(--border-color);
                padding: 15px;
                color: var(--color);
                user-select: none;
                position: relative;
                box-sizing: border-box;
                isolation: isolate;  /* Needs it's own stacking context for overlay */
            }

            &[hidden] {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            div.channel-left {
                & {
                    margin-top: 3px;
                    margin-right: 15px;
                }

                span.material-symbols-outlined {
                    color: #b1b1b1;
                    font-size: 30px;
                    cursor: default;
                }
            }

            div.channel-details {
                & {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-grow: 1;
                    width: 100%;
                }

                span.channel-name {
                    color: var(--color);
                }

                span.channel-group {
                    color: var(--color-inactive);
                    font-size: 14px;
                }
            }

            div.channel-right {
                & {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1px;
                }

                span.material-symbols-outlined {
                    color: var(--color);
                    font-size: 32px;
                    cursor: default;
                }
            }
        }
    }
}