settings-modal {
    div.about-container {
        & {
            padding: 0 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 800px) {
            & {
                flex-direction: column;
                align-items: flex-start;
            }

            div.right-container {
                & {
                    margin-top: 10px;
                }

                p.build-date, p.version {
                    text-align: left;
                }
            }
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: normal;
        }
    }

    p.build-date, p.version {
        margin-top: 2px;
        margin-bottom: 0;
        text-align: center;
    }

    div.task-timestamp {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-style: italic;
    }

    div.task-timestamp:not(:last-child) {
        margin-bottom: 5px;
    }
}